.page {
    margin-left: 5%;
    margin-right: 5%;
}

.button {
    indent-text: 5em ;
}
.principale {
    margin-bottom: 30px;
}
.card{
    margin-bottom: 3px;
}
.card2{
    margin: 1%;
}
.rep-comment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* .card-comment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
} */
#comment{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#comment2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2px;
}
.respcomment{
    margin-bottom: 2px;
    
}
#nom{
    color: rgb(67, 140, 237);
}

/* No select */
.noselect {
    -webkit-touch-callout: none !important;
    /* iOS Safari */
    -webkit-user-select: none !important;
    /* Safari */
    -khtml-user-select: none !important;
    /* Konqueror HTML */
    -moz-user-select: none !important;
    /* Old versions of Firefox */
    -ms-user-select: none !important;
    /* Internet Explorer/Edge */
    user-select: none !important;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}