#pargrPropos {
    text-align: justify;
    text-justify: inter-word;
    /* font-family: "Source Sans Pro", sans-serif; */
    margin-bottom:  50px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  
  .subtitle {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin: auto !important;
    text-align: center !important;
    margin-bottom: 20px !important;
  }
  
  #iusService {
    margin-top: 1.5rem !important;
    font-family: "Playfair Display", serif;
  }
  
  .service-title{
    margin-bottom: 50px !important;
  }
  
  
  .cardBody{
    justify-content: center !important;
    text-align: center !important;
    width: 100% !important;
    align-items: center !important;
    
  }
  
  .service-card{
    width: 40% !important;
    display: inline-block;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    margin-right: 50px !important;
    text-align: center !important;
    align-items: center !important;
    border-radius: 20px !important;
    box-shadow: 0px 0px 10px 2px grey !important;
    vertical-align: top !important;
    margin-bottom: 50px !important;
  }
  
  .service-icon{
    color: grey !important;
    font-size: 50px !important;
  }
  
  @media screen and (max-width:  995px){
    .service-card{
    width: 80% !important;
    display: inline-block;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    margin-right: 50px !important;
    text-align: center !important;
    align-items: center !important;
    border-radius: 20px !important;
    box-shadow: 0px 0px 10px 2px grey !important;
    vertical-align: top !important;
    margin-bottom: 50px !important;
  }
  }