.navbarDisplayFlex {
    display: flex;
    justify-content: space-between;
}
.navListDisplayFlex {
    display: flex;
    justify-content: space-between;
}

.linkText {
    text-decoration: none;
    color: white;
}
.title  {
    flex-grow: 1;
    margin: auto;
}
ajouter {
    align-items: center;
}
Typography img{
    width: 150px;
}
