.papper {
    flex-grow: 1;
    max-width: 500px;
    margin: auto;
    margin-top: 8px !important;
    justify-content:center;
    padding: 1rem;
    elevation: lower;
}

.titre {
    align-self: center;
}

.sign-in{
    top: 8px !important;
    bottom: 8px !important;
}
#papier{
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}
/* .lien-auth p{
    text-decoration: none;
} */
/*.formControl {*/
/*    margin: auto;*/
/*}*/
