.main-footer{
    background-color: #1037b6;
}
.container{
    height: auto !important;
    min-width: auto !important;
}
.container>.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.col ul li a{
    text-decoration: none;
    color: #000;
}
.titre{
    margin-top: 8px !important;
    color: #fff;
    font-size: 30px !important;
}
.list-unstyled{
    color: #000;
}
.row p{
    color: #000;
}
.row p a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
/* .col .titre{
    color: #fff;
} */

@media screen and (max-width: 770px){
    .container>.row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}